Repository ShopRunner/octopod: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-compile requirements.txt, pip-compile requirements-dev.txt

pip-compile requirements.txt:
  name: Compile requirements.txt from setup.py
  entry: pip-compile
  language: system
  always_run: false
  stages:
  - push
  pass_filenames: false

pip-compile requirements-dev.txt:
  name: Compile requirements-dev.txt from requirements-dev.in
  entry: pip-compile requirements-dev.in
  language: system
  always_run: false
  stages:
  - push
  pass_filenames: false

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Add ipywidgets to requirements
  CHANGELOG.md
  octopod/_version.py
  requirements-dev.txt
  requirements.txt
  setup.py
Due: pip-compile requirements.txt

Revert unintented format change
  setup.py
Due: pip-compile requirements.txt

Try capping version
  requirements-dev.txt
  requirements.txt
  setup.py
Due: pip-compile requirements.txt

Add comment
  setup.py
Due: pip-compile requirements.txt

Blank line
  CHANGELOG.md
Due: none

Update comment
  setup.py
Due: pip-compile requirements.txt

Restore pinning, update comment
  setup.py
Due: pip-compile requirements.txt

Create an import_model method to pair with export
  octopod/text/models/multi_task_bert.py
Due: none

change logging
  CHANGELOG.md
  octopod/_version.py
Due: none

Update multi_task_bert.py
  octopod/text/models/multi_task_bert.py
Due: none

Update _version.py
  octopod/_version.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update test_multi_task_bert.py
  tests/test_multi_task_bert.py
Due: none

Update octopod/text/models/multi_task_bert.py
  octopod/text/models/multi_task_bert.py
Due: none

Update requirements.txt
  requirements.txt
Due: none

tweaking
  setup.py
Due: pip-compile requirements.txt

try to fix pillow importing
  setup.py
Due: pip-compile requirements.txt

pillow import fixing
  setup.py
Due: pip-compile requirements.txt

remove pinned transformers version
  octopod/_version.py
  octopod/ensemble/models/multi_task_ensemble.py
  octopod/text/models/multi_task_bert.py
  requirements.txt
  setup.py
Due: pip-compile requirements.txt

wrong date
  CHANGELOG.md
Due: none

trying to retrigger checks since they timed out
  octopod/_version.py
Due: none

fixing what I used to trigger checks
  octopod/_version.py
Due: none

backwards compatible
  octopod/ensemble/models/multi_task_ensemble.py
  octopod/text/models/multi_task_bert.py
  requirements.txt
  setup.py
Due: pip-compile requirements.txt

import ordering...
  octopod/ensemble/models/multi_task_ensemble.py
  octopod/text/models/multi_task_bert.py
Due: none

linting
  octopod/ensemble/models/multi_task_ensemble.py
Due: none

weird importlib-metadata issue with 5.0
  requirements-dev.in
  requirements-dev.txt
Due: pip-compile requirements-dev.txt

Path conditions:
  pip-compile requirements.txt: any of: setup.py
  pip-compile requirements-dev.txt: any of: requirements-dev.in
